@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Poppins";
}
.myDiv{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #FF5050;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff412f'/%3E%3Cstop offset='1' stop-color='%23ff412f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23a928ff'/%3E%3Cstop offset='1' stop-color='%23a928ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23b206ff'/%3E%3Cstop offset='1' stop-color='%23b206ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF5050'/%3E%3Cstop offset='1' stop-color='%23FF5050' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF390D'/%3E%3Cstop offset='1' stop-color='%23FF390D' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.myCard{
width : 500px;
height : 350px;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
background: rgba(255, 255, 255, 0.16);
border-radius: 16px;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(255, 255, 255, 0.21);
z-index: 2;
}
.myLabel{
width: 100%;
padding : 0px 50px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
}
.myLabel input{
width: 100%;
background-color: #fff;
font-size : 17px;
padding : 7px 15px;
border : none;
border-radius: 10px;
outline: none;
box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.myLabel label{
margin-bottom: 8px;
}

#_mybtn{
background-image: linear-gradient(to right, #7b4397 0%, #dc2430 51%, #7b4397 100%);
margin: 10px;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
border : none;
}
#_mybtn:hover {
background-position: right center;
color: #fff;
text-decoration: none;
}

.headingDiv{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
h3{
color: #fff;
font-size: 35px;
margin : 50px 0px;
}